
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şiirler ve Şairler Platformu</title>
    <style>
        form {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f7f7f7;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            /* Etiket (label) stili */
            form label {
                display: block;
                margin-bottom: 8px;
                font-weight: bold;
                color: #333;
            }

            /* Giriş alanları ve textarea stili */
            form input[type="text"],
            form input[type="email"],
            form textarea {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            /* Buton stili */
            form button {
                width: 100%;
                padding: 10px;
                background-color: #3498db;
                border: none;
                border-radius: 4px;
                color: #ffffff;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

                form button:hover {
                    background-color: #2980b9;
                }





        body {
            background-image: url('/Content/images/Resim4.jpeg');
            background-size: cover; /* Arka plan resmini tam ekran yapar */
            background-repeat: no-repeat; /* Tekrar etmesini önler */
            background-position: center; /* Resmi ortalar */
        }
    </style>
</head>
<body>
  test sayfası
    <h2>@ViewBag.Message</h2>

</body>
</html>

